.factory-text{
color: rgb(107, 107, 107)
}
.factory-text:hover{
    cursor: pointer;
}
.edit-arrow:hover{
    cursor: pointer;
}
.ban:hover{
cursor: pointer;
}
.alt-input{
    height: 1.5rem;
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 0;
}
.alt-input:focus{
    outline: none !important;
    border:none;
    box-shadow: 0 0 4px rgba(102, 102, 102, 0.404);
}